<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ date|date:"l jS F, Y" }} - Beata's Meal Monitor</title>

    <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
    <style>
        .nopadding {
           padding: 0 !important;
           margin: 0 !important;
        }

        .meal-padding {
           padding: 10px 30px !important;
           margin: 0 0 1em 0 !important;
        }
    </style>
  </head>
  <body>
      <div class="container">

          <div class="page-header">
            <h1>{{ date|date:"l jS F, Y" }}</h1>
          </div>

          <div class="row">
              <div class="col-md-12">

                  {% for meal in meals %}
                  <div class="meal-padding jumbotron">
                      <h2>{{ meal.name }} <small>{{ meal.date_ate|date:"H:i" }}</small></h2>
                      <ul class="list-group">
                          {% for food in meal.fooditemmeal_set.all %}
                          <li class="list-group-item">{{ food.food_item.name }}, {{ food.quantity }}g</li>
                          {% endfor %}
                      </ul>
                      <!--
                      <div class="row">
                          <form>
                              <div class="col-md-8">
                                  <select class="form-control">
                                      <option>Chicken Breast</option>
                                      <option>Brocolli</option>
                                      <option>Green Peas</option>
                                  </select>
                              </div>
                              <div class="col-md-2">
                                  <input type="text" class="form-control" placeholder="Weight in grams">
                              </div>
                              <div class="col-md-1">
                                  <button type="submit" class="btn btn-default">Add Food Item</button>
                              </div>
                          </form>
                          </div> -->

                  </div> <!-- end meal -->


                  {% endfor %}

                  <p>
                      <form method="post" action="{% url 'meal_create' date %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary btn-lg">
                              <span class="glyphicon glyphicon-plus"></span> Add Meal
                          </button>
                      </form>
                  </p>
              </div>
          </div>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
