<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ date|date:"l jS F, Y" }} - Beata's Meal Monitor</title>

    <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
    <style>
        .nopadding {
           padding: 0 !important;
           margin: 0 !important;
        }

        .meal-padding {
           padding: 10px 30px !important;
           margin: 0 0 1em 0 !important;
        }

        .mydate-padding, .mytotal-padding {
           padding-top: 111px;
        }

        .mytotal-padding {
           padding-left: 70px;
        }

        #id_food_item {
          width: 100%;

        }
    </style>
  </head>
  <body>
      <div class="container">

          <div class="page-header">
               <div class="row">
                  <div class="meal-padding col-md-12">
                      <h2 class="col-md-5 mydate-padding">{{ date|date:"l jS F, Y" }}</h2>
                      <h2 class="col-md-3 mytotal-padding">Daily Totals:</h2>
                      <ul class="list-group col-md-4">
                          <li class="list-group-item">Total Foundaton Carbs: {{ daily_total_foundation_carbs|floatformat:2 }} g</li>
                          <li class="list-group-item">Total Carbs: {{ daily_total_carbs|floatformat:2 }} g</li>
                          <li class="list-group-item">Total Protein: {{ daily_total_protein|floatformat:2 }}g</li>
                          <li class="list-group-item">Total Fat: {{ daily_total_fat|floatformat:2 }}g</li>
                          <li class="list-group-item">Total Calories: {{ daily_total_calories|floatformat:0 }}kcal</li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">

                  {% for meal in meals %}
                  <div class="meal-padding jumbotron">
                      <h2>{{ meal.name }} <small>{{ meal.date_ate|date:"H:i" }}</small></h2>
                      <div class="row">
                      <ul class="list-group col-md-8">
                          {% for food in meal.fooditemmeal_set.all %}
                          <li class="list-group-item">{{ food.food_item.name }}, {{ food.quantity }}g</li>
                          {% endfor %}
                      </ul>
                      <ul class="list-group col-md-4">
                          <li class="list-group-item">Foundation Veg Net Carbs: {{ meal.total_foundation_carbs|floatformat:2 }} g</li>
                          <li class="list-group-item">Net Carbs: {{ meal.total_net_carbs|floatformat:2 }} g</li>
                          <li class="list-group-item">Protein: {{ meal.total_protein|floatformat:2 }}g</li>
                          <li class="list-group-item">Fat: {{ meal.total_fat|floatformat:2 }}g</li>
                          <li class="list-group-item">Calories: {{ meal.total_calories|floatformat:0 }}kcal</li>
                      </ul>
                      </div>
                       <div class="row">
                          <form method="post" action="{% url 'add_food_item' %}">
                              {% csrf_token %}
                              <input type="hidden" value="{{ meal.pk }}" name="{{ food_item_form.meal.html_name }}"></input>

                              <div class="col-md-8">
                                  {{ food_item_form.food_item }}
                              </div>
                              <div class="col-md-2">
                                  {{ food_item_form.quantity }}
                              </div>
                              <div class="col-md-2">
                                  <button type="submit" class="btn btn-default">Add Food Item</button>
                              </div>
                            </form>
                      </div>
                  </div> <!-- end meal -->
                  {% endfor %}

                  <p>
                      <form method="post" action="{% url 'meal_create' date %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary btn-lg">
                              <span class="glyphicon glyphicon-plus"></span> Add Meal
                          </button>
                      </form>
                  </p>
              </div>
          </div>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>